<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar Produto</ion-title>
    <ion-buttons end>
      <button ion-button color="secondary" round (click)="salvarProduto()">OK</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 style="text-align: center;">Insira os dados</h1>

  <form #form="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-input type="text" name="nome" placeholder="Nome" [(ngModel)]="model.nome" #nome="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="nome.errors && (nome.dirty || nome.touched)" class="text-danger">
        <div style="color: red; font-weight: bolder">O campo é obrigatório</div>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="codigoBarras" placeholder="Código de Barras" [(ngModel)]="model.codigoBarras" #codigoBarras="ngModel"
          minlength="9" maxlength="9" required></ion-input>
      </ion-item>
      <ion-item *ngIf="codigoBarras.errors && (codigoBarras.dirty || codigoBarras.touched)" class="text-danger">
        <div style="color: red; font-weight: bolder">O campo é obrigatório</div>
      </ion-item>
    </ion-list>
  </form>

</ion-content>